/*inicioContacto*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;


.sectionC2{
    
    form{    
        font-family: 'roboto', cursive;
        color: $blanco;
        font-size: 20px;
        font-weight: normal;
        text-align: left;
        font-style: italic;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form__Info{
          display: flex;
          flex-direction: column;
        }

        .form__Buttons{
          display: flex;
          margin-top: 10px;
          width: 200px;
          justify-content: space-evenly;
        }
    }

}
.sectionC3{
    h4{ font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;}
    .iconosUno{
      li{
        list-style: none;
        margin-top: 20px;
        a{        
        font-size: 10px;
        font-family: 'roboto', sans-serif;
        font-size: 20px;
        font-weight: normal;
        text-align: left;
        font-style: italic;
        text-decoration:none;
        text-transform: uppercase;
        color: $blanco;
        list-style: none;
        
      }
      }
    }
}
/*finContacto*/