/*inicioFaqs*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;
.faqsUno{
    h1{
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }
}
div{
    
    .accordion-button{
        font-size: 20px;
    }
    .accordion-body{
        font-size: 15px;
    }
    .accordion-body{
        p{
        font-family: 'Klee One', cursive;
        color: $negro;
        font-size: 2rem;
        font-weight:lighter;
        text-align: justify;
        font-style: normal;
        line-height: 2.6rem;
        }
    }
}

/*finFaqs*/

