/*inicioIndex*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;

  section {
    background-image: radial-gradient($negro, $negroEscala);
    border: 4px solid $negro;
    padding: 15px;
    margin: 10px;
  
    .section1{
      cursor: context-menu;
        .section1__titulo{
            color: $blanco;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 2px 2px 5px $gris;
          }
        .section1__parrafo{
            font-family: 'roboto', cursive;
            color: $blanco;
            font-size: 15px;
            font-weight: normal;
            text-align: justify;
            line-height: 2.6rem;
          }
          .section1__img{
            border: solid $beige;
            float: left;
            margin: 10px;
          }
    }
  }

.section2 {
   cursor: context-menu;
    background-color: $gris;
    border: 4px solid $negro;
    padding: 15px;
    margin: 10px;
    .section2__titulo {
        font-family: 'roboto', cursive;
        color: $blanco;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-style: italic;
        text-shadow: 2px 2px 5px $gris;
      }
    .section2__parrafo{
        font-family: 'roboto', cursive;
        color: $blanco;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        line-height: 2.6rem;
      }
  }
  .section3{
     cursor: context-menu;
    .section3__titulo{
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px $gris;
      }
    .section3__parrafo{
        font-family: 'roboto', cursive;
        color: $blanco;
        font-size: 15px;
        font-weight: normal;
        text-align: left;
        line-height: 2.6rem;
      }
      .section3__img{
        border: solid $beige;
        float: right;
        margin: 10px;
      }
}
.slide {
margin-top: 20px;
img{
  height: 55vh;
}
}

