/*inicioIniciasSesion*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;


.sesionContenedor{



    h2{
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 40px;
        text-align: center;
        text-shadow: 2px 2px 5px $gris;
    }

    .sesionContenido{
        font-family: 'Roboto', cursive;
        color: $blanco;
        font-size: 2rem;
        font-weight: normal;
        text-align: left;
        
        .sesionFormulario{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h3{
                font-family: 'Roboto', sans-serif;
                color: $blanco;
                font-size: 2.5rem;
                text-align: center;
                text-shadow: 2px 2px 5px $gris;
            }

            .formMedia{
                margin-top: 15px;
                display: flex;
                margin: 15px;
                font-size: 1.5rem;

            }

            .submitButton{
                display: flex;
                justify-content: center;
                margin-top: 40px;
            }

            .radio{
                display: flex;
                input{
                    margin: 10px;
                }
            }

        }
    }
}
/*finIniciasSesion*/