/*inicioIniciasSesion*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;
.inicioSesionUno{
    h2{            
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px $gris;
        }
    h3{
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 5px $gris;
    }
}

.inicioSesionDos{
    div{
        display: flex;       
        p{
            font-family: 'Klee One', cursive;
            color: $blanco;
            font-size: 2rem;
            font-weight: normal;
            text-align: left;
            font-style: italic;
        }
        input{
            margin: 10px;
            font-size: 2rem;
        }
    }
}
.inicioSesionTres{
            div{
                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 3;
                
                input{
                    background-color: $negroEscala;
                color: $beige;}
            }
}
.inicioSesionCuatro{
    h4{
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 5px $gris;
    }
    div{
        display: flex;
        text-align: center;
        input{
            margin: 10px;
        }
        p{
            font-family: 'Klee One', cursive;
            color: $blanco;
            font-size: 2rem;
            font-weight: normal;
            text-align: left;
            font-style: italic;
        }
        
    }

}
/*finIniciasSesion*/