/*inicioMiBolsa*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;
.productosUno{
                h2{    
                    font-family: 'Roboto', sans-serif;
                    color: $blanco;
                    font-size: 5rem;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    } 

.productosDos{
ul{
    display: flex;
    justify-content:space-evenly;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    li{
        list-style: none;
        p{
        font-family: 'Klee One', cursive;
        color: $blanco;
        font-size: 2.5rem;
        font-weight: normal;
        text-align: center;
        font-style: italic;
        line-height: 3rem;
        text-decoration:underline;
        text-transform: uppercase;
          }
    
        }
       }
        }
    }
        
.productosTres{
       display: flex;
       flex-flow: column;
        h3{
            font-family: 'Roboto', sans-serif;
            color: $blanco;
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase; 
           }
        
           div{
            display: flex;
            flex-flow: column;
            margin: 10px;}
}
        
            .tabla__Uno{
                    p{    
                    font-family: 'roboto', cursive;
                    color: $blanco;
                    font-size: 2rem;
                    font-weight: normal;
                    text-align: center;
                    text-transform: uppercase;}
                  }
                        
                .tabla__Dos{
                p{    
                    font-family: 'Klee One', cursive;
                    color: $blanco;
                    font-size: 1.5rem;
                    font-weight: normal;
                    text-align: center;
                    font-style: italic;
                }
                
            }
           
                
                
                
        ol{    
                    display: flex;
                    justify-content:space-evenly;
                    padding: 3rem;
                    flex-direction: column;
                    align-items: left;
                    flex-wrap:wrap;
                    list-style: none;
                    .li__Dos{
                        list-style: none;
                        p{
                        font-family: 'Klee One', cursive;
                        color: $blanco;
                        font-size: 2rem;
                        font-weight: normal;
                        text-align: left;
                        font-style: italic;
                        line-height: 2.6rem;
                        text-decoration: none;
                        text-transform: uppercase;
                        }
            }
        }
        .productosCuatro{
            h4{
                font-family: 'Roboto', sans-serif;
                color: $blanco;
                font-size: 40px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase; 
                margin-top: 40px;
               }
            }
            .productoImg{    
                display:flex;
                align-items: center;
                img{   
                border: solid $beige;
                margin: 10px;}
            }
/*finMiBolsa*/
    
