/*inicioNewsletter*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;
.tycSection{
    h1{
    font-family: 'Roboto', sans-serif;
    color: $blanco;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    }
    h2{
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    p{
        font-family: 'Klee One', cursive;
        color: $blanco;
        font-size: 2rem;
        font-weight: normal;
        text-align: left;
        font-style: italic;
    }   
}
/*finNewsletter*/