/*inicioNewsletter*/
.tycSection{
    h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    }
    h2{
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    p{
        font-family: 'Klee One', cursive;
        color: white;
        font-size: 2rem;
        font-weight: normal;
        text-align: left;
        font-style: italic;
    }   
}
/*finNewsletter*/