/*inicioProductos*/
$negro: black;
$negroEscala:#202020;
$gris: #5c5c5c;
$blanco: white;
$beige: beige;

section{
    font-family: 'roboto', sans-serif;
    color: $blanco;
    font-weight: normal;
    
    background-color: $gris;
    h1{
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
       }
    h2{
        font-family: 'Roboto', sans-serif;
        color: $blanco;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
       }
    .productosUno{
            .productos__P1{    
                            font-family: 'Klee One', cursive;
                            color: $blanco;
                            font-size: 15px;
                            font-weight: normal;
                            text-align: center;
                            line-height: 2.6rem;
                            } 
            .productos__P2{    
                            font-family: 'Klee One', cursive;
                            color: $blanco;
                            font-size: 2rem;
                            font-weight: normal;
                            text-align: center;
                            line-height: 2.6rem;
                        }
            }

    .productos__Contenedor{

        background-color: #1d1d1d !important;

        .productos__Fila{

            .productos__Contenido{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2{
                    margin: 10px;
                }

                form{
                    margin-top: 10px;
                }

                img{
                    border-radius: 5px;
                }

                p{
                    font-family: 'Klee One', cursive;
                    color: $blanco;
                    font-size: 2rem;
                    font-weight: normal;
                    text-align: center;
                    line-height: 2.6rem;
                }
                a{                    
                        font-family: 'Klee One', cursive;
                        color: $blanco;
                        font-size: 2rem;
                        font-weight: normal;
                        text-align: center;
                        line-height: 2.6rem;
                        text-decoration: none;
                }
            }
        }

    }

    .productosTres{
               background-color: $gris;
                h2{
                    font-family: 'Roboto', sans-serif;
                    color: $blanco;
                    font-size: 4rem;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase; 
                   }
                div{
                    display: flex;
                    flex-flow: column;
                     table{
                        .tabla__Uno{
                            p{    
                                font-family: 'roboto', sans-serif;
                                color: $blanco;
                                font-size: 20px;
                                font-weight: normal;
                                text-align: center;                              
                                text-transform: uppercase;
                              }
                                    }
                            .tabla__Dos{
                                p{    
                                font-family: 'Klee One', sans-serif;
                                color: $blanco;
                                font-size: 2rem;
                                font-weight: normal;
                                text-align: center;
                                font-style: italic;}
        
                    }
                           }
                    }
                }
        }
/*finProductos*/