@import "fuentes";
@import "headerfooter";
@import "index";
@import "productos";
@import "nosotros";
@import "faqs";
@import "contacto";
@import "iniciarSesion";
@import "miBolsa";
@import "tyC";
@import "newsletter";
@import "politicasDePrivacidad";




* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Klee One', cursive;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}
@media only screen and (min-width: 600px) {
    body{
        background-color: rgb(124, 124, 124);
    }
} 
@media only screen and (min-width: 768px) {
    body{
        background-color: rgb(83, 83, 83);
    }
} 
@media only screen and (min-width: 992px) {
    body{
        background-color: rgb(29, 29, 29);
    }
} 
@media only screen and (min-width: 1200px){
    body{
        background-color: black;
    }
}





